@model Coffee.Web.Models.Post

@{
    ViewData["Title"] = "Create Post";
}

<h2>Create Post</h2>

<form asp-action="Create" method="post">
    <div class="form-group">
        <label asp-for="Title"></label>
        <input asp-for="Title" class="form-control" />
        <span asp-validation-for="Title" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Content"></label>
        <textarea asp-for="Content" class="form-control" id="Content"></textarea>
        <span asp-validation-for="Content" class="text-danger"></span>
    </div>

    <input asp-for="Slug" type="hidden" />

    <button type="submit" class="btn btn-primary mt-2">Create</button>
</form>

@section Scripts {
    <script src="https://cdn.tiny.cloud/1/ghw2p3z1oijjxyskr4f54x8ppbzh0uuwlc2kviq5urr2gedc/tinymce/6/tinymce.min.js" referrerpolicy="origin"></script>
    <script>
        tinymce.init({
            selector: '#Content',
            height: 400,
            menubar: false,
            plugins: [
                'advlist autolink lists link image charmap preview anchor',
                'searchreplace visualblocks code fullscreen',
                'insertdatetime media table code help wordcount'
            ],
            toolbar: 'undo redo | formatselect | ' +
                     'bold italic backcolor | alignleft aligncenter ' +
                     'alignright alignjustify | bullist numlist outdent indent | ' +
                     'removeformat | help',
            content_css: '//www.tiny.cloud/css/codepen.min.css'
        });
    </script>
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
